* {
    margin: 0;
    padding: 0;
}


html{
    scroll-behavior: smooth;
}
body {
    color: #03295B;
    font-family: 'Poppins', sans-serif;
    font-family: 'Roboto', sans-serif;
    background-color: #e5ebf7;
    overflow-x: hidden;
}

main {
    background-color: #e5ebf7;

}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
}

header .name {
    /* width: 280px; */
    position: relative;
    /* top: 8px; */
    left: -25px;
    font-weight: bolder;
    font-family: 'Rouge Script', cursive;
}

nav {
    background-color: #e5ebf7;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 60px;
    gap: 150px;
    /* position: fixed; */
}

nav ul {
    justify-content: center;
    display: flex;
}

nav ul li {
    list-style: none;
    margin: 0 23px;
}

nav ul li a {
    color: black;
    text-decoration: none;
    font-size: 20px;
    font-weight: 900;
}

nav ul li a:hover {
    color: #034AA6;
    text-decoration: none;
}

button {
    padding: 8px 10px;
    border-radius: 5px;
    width: 10vw;
    height: 3.2vw;
    background: linear-gradient(120deg, #022859, #034AA6);
    color: white;
    position: relative;
    left: 180px;
    top: 20px;

}

button a {
    color: white;
    text-decoration: none;
}

button:hover {
    background: linear-gradient(120deg, #034AA6, #2885ff);
    transition: all 0.8s linear;
}

.left {
    font-size: 2.8rem;
}

.firstSection {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100vh;
}

.firstSection>div {
    width: 40%;
}

.blob {
    height: 450px;
    position: absolute;
    width: 500px;
    border-radius: 63% 37% 48% 52% / 39% 46% 54% 61%;
    background: linear-gradient(60deg, #2c76a8, #166091, #2070a5, #063c7e);
    filter: drop-shadow(0, 0, 20px, lightgrey);
    animation: blobAnimation 10s alternate infinite ease-in-out;

}

.blobHero {
    top: 170px;
    right: 100px;
}

@keyframes blobAnimation {
    0% {
        border-radius: 32% 68% 59% 41% / 55% 72% 28% 45%;
        rotate: 10deg;
    }

    20% {
        border-radius: 32% 68% 59% 41% / 55% 72% 28% 45%;
        rotate: 20deg;
    }

    30% {
        border-radius: 68% 32% 39% 61% / 42% 52% 48% 58%;
        rotate: -50deg;
    }

    50% {
        border-radius: 68% 32% 79% 21% / 68% 36% 64% 32%;
        rotate: 30deg;
    }

    70% {
        border-radius: 67% 33% 70% 30% / 72% 42% 58% 28%;
        rotate: 30deg;
    }

    80% {
        border-radius: 50% 50% 30% 70% / 50% 39% 61% 50%;
        rotate: -30deg;
    }

    90% {
        border-radius: 62% 38% 62% 38% / 35% 39% 61% 65%;
        rotate: 30deg;
    }

    100% {
        border-radius: 39% 61% 58% 42% / 64% 52% 48% 36%;
        rotate: 10deg;
    }
}

.rightSection img {
    z-index: 3;
    position: relative;
}

.leftSection {
    font-size: 3rem;
    font-weight: 600;
    z-index: 2;
}

/* .rightSection img {
    width: 80%;
} */
.purple {
    color: #034AA6;
    transition: all 0.3s linear;

}

/* .purple:hover {
    text-shadow: 0 0 80px #fff, 0 0 60px rgb(157, 66, 242), 0 0 70px rgb(157, 66, 242), 0 0 80px rgb(157, 66, 242);
} */

.extraInfo {
    font-size: 1.2rem;
}

#element {
    color: #034AA6;
    transition: all 0.3s linear;

}

hr {
    /* width: 100%; */
    /* text-align: center; */
    margin: 0 10px 0 10px;
    height: 1.2px;
    border: 0;
    /* background-color: rgb(157, 66, 242); */
    background-color: silver;
}

.secondSection {
    max-width: 80vw;
    margin: 70px;
    height: 84vh;
}

.secondSection h1 {
    font-size: 2.5rem;
}

.grey {
    color: black;
}

.secondSection .box {
    margin: 200px 0;
    background-color: black;
    height: 2px;
    width: 185vh;
    display: flex;
}

.secondSection .vertical {
    height: 93px;
    width: 1px;
    background-color: black;
    margin: 0 100px;
}

.imageTen {
    width: 100px;
    position: relative;
    top: -80px;
    left: -51px;
}

.veritcal-desc .violet {
    color: #034AA6;
    font-size: 15px;
}

.veritcal-desc .marks {
    font-size: 15px;
}

.vertical-title {
    position: relative;
    top: 16px;
    left: -12px;
    width: 150px;
}

.veritcal-desc {
    position: relative;
    top: 20px;
    color: black;
    left: -12px;
    width: 150px;
    font-size: 15px;
}

/* social media */
.social_media i {
    border-radius: 50%;
    font-size: 30px;
    color: #034AA6;
    opacity: 0.7;
    padding: 0 15px;
    transition: all 0.3s linear;
}

.social_media i:hover {
    opacity: 1;
    transform: scale(1.2);
    /* text-shadow: 0 0 50px #fff, 0 0 60px rgb(157, 66, 242), 0 0 70px rgb(157, 66, 242), 0 0 80px rgb(157, 66, 242); */
}

.social_media {
    position: relative;
    left: 80px;
    top: 10px;
}

/* #element:hover {
    text-shadow: 0 0 50px #fff, 0 0 60px rgb(157, 66, 242), 0 0 70px rgb(157, 66, 242), 0 0 80px rgb(157, 66, 242);
} */
.about {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;

}

.thirdSection {
    height: 100vh;
    color: black;
    display: flex;
    padding: 40px;
}

.thirdSection img {
    height: 350px;
    z-index: 1;
    position: relative;
}

.thirdSection {
    position: relative;
}

.blobAbout {
    height: 450px;
    width: 470px;
    position: absolute;
    top: 200px;
    left: 33px;
    opacity: 0.6;
    border-radius: 63% 37% 48% 52% / 39% 46% 54% 61%;
    background: linear-gradient(60deg, #2c76a8, #166091, #2070a5, #063c7e);
    filter: drop-shadow(0, 0, 20px, lightgrey);
    animation: blobAnimation 10s alternate infinite ease-in-out;

}

.thirdSection span {
    font-size: 20px;
    color: #034AA6;
    font-weight: 900;
}

.thirdSection p {
    font-size: 20px;
    font-weight: 400;
}

.thirdSection h1 {
    font-weight: 900;
    font-size: 40px;
    color: #022859;
}

footer {
    background-color: #e5ebf7;
    height: 30vh;

}

.footer {
    display: flex;
    max-height: 32vh;

}

.footer-first {
    position: relative;
    left: 200px;
    top: 93px;
    font-size: 20px;
}

.footer-second {
    position: relative;
    left: 750px;
    top: 100px;
}

.footer-third {
    position: relative;
    top: 200px;
    left: 80px;
    height: 25px;
}

.purpleNew {
    color: #034AA6;
    transition: all 0.3s linear;
}

.services-area {
    text-align: center;
    font-size: 1.2rem;
    margin: 6% 0;
    height: 90vh;
}

.services-area .section-container h3 {
    text-transform: uppercase;
    font-size: 2.2rem;
    font-weight: 700;
    margin: 1%;
    text-align: center;
    color: #03295b;
}

.services-area .section-cards-container p {
    font-family: "Poppins";

}

.services-area .section-cards-container .cards-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 15%;
    justify-content: center;
    justify-items: center;
    margin: 5% 15%;

}

.services-area .section-cards-container .cards-container .card {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    background-color: white;
    margin: 10% 0;
    font-size: 1rem;
    padding: 10%;
    border-radius: 10px;
    box-shadow: 0 5px 10px rgba(211, 211, 211, 0.786);



}

.services-area .section-cards-container .cards-container .card .card-image {
    height: 11rem;
    width: 13rem;
    margin: auto;
}

.services-area .section-cards-container .cards-container .card .card-description h4 {
    font-size: 1.3rem;
    margin: 0% 0;

    text-transform: uppercase;
}

.services-area .section-cards-container .cards-container .card .card-description {
    font-family: "Poppins";
}

.services-area .section-cards-container .cards-container .card .card-underline {
    display: inline-block;
    width: 0%;
    margin: 3% auto;
    height: 2px;
    transition: 0.2s all ease-in-out;
}

.services-area .section-cards-container .cards-container .card:hover .card-underline {
    width: 50%;

    background-color: #007bff;

}

.services-area .section-cards-container .cards-container .card:hover {
    box-shadow: 0 5px 20px rgba(128, 128, 128, 0.523);
}

@media (max-width: 786px) {

    html,
    body {
        max-width: 100%;
        overflow-x: hidden;
    }

    nav ul {
        justify-content: center;
        display: flex;
        display: none;
    }


    header .name {
        position: relative;
        font-weight: bolder;
        left: 22%;
    }


    .left {
        font-size: 2.5rem;
        font-weight: 900;
    }

    .firstSection {
        height: 100vh;
        flex-direction: column-reverse;
        justify-content: center;
        width: 100%;
    }

    .rightSection img {
        width: 375px;
        position: relative;
        left: -20px;
    }

    .firstSection>div {
        width: 100%;
    }

    .leftSection {
        font-size: 2rem;
        font-weight: 600;
        padding-top: 30px;
        position: relative;
        left: 10px;
    }

    .social_media i {
        padding: 8px;
    }

    .social_media i:hover {
        opacity: 1;
        transform: scale(1.2);
        /* text-shadow: 0 0 50px #fff, 0 0 60px rgb(157, 66, 242), 0 0 70px rgb(157, 66, 242), 0 0 80px rgb(157, 66, 242); */
    }

    .social_media {
        left: 50px;
        top: 10px;
    }

    button {
        padding: 8px 10px;
        border-radius: 5px;
        width: 30vw;
        height: 12vw;
        position: relative;
        left: 120px;
        top: 25px;
        font-size: 16px;

    }

    .secondSection {
        margin: 20px;
        height: 200vh;
    }

    .secondSection .box {
        margin: 80px 80px;
        height: 170vh;
        width: 2px;
        flex-direction: column;
    }

    .secondSection .vertical {
        height: 1px;
        width: 70px;
        margin: 130px 0px;
    }


    .imageTen {
        width: 100px;
        position: relative;
        top: -40px;
        left: -100px;
    }

    .vertical-title {
        position: relative;
        left: 80px;
        top: -100px;
        width: 150px;
    }

    .veritcal-desc {
        position: relative;
        top: 20px;
        left: 80px;
        width: 150px;
        top: -100px;
    }



    .about {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 100px;
        flex-direction: column;

    }

    .aboutText {
        position: relative;
        top: -200px;
    }

    .thirdSection {
        height: 130vh;
        color: black;
        display: flex;
        padding: 0px 30px;
    }

    .thirdSection img {
        height: 250px;
        position: relative;
        top: 500px;
        opacity: 0.3;

    }

    .blobAbout {
        height: 374px;
        width: 330px;
        position: absolute;
        left: 33px;
        opacity: 0.2;
        top: 450px;
        z-index: 5;
        border-radius: 63% 37% 48% 52% / 39% 46% 54% 61%;
        background: linear-gradient(60deg, #2c76a8, #166091, #2070a5, #063c7e);
        filter: drop-shadow(0, 0, 20px, lightgrey);
        animation: blobAnimation 10s alternate infinite ease-in-out;

    }

    .thirdSection span {
        font-size: 18px;
    }

    .thirdSection p {
        font-size: 20px;
        text-align: left;
    }

    .thirdSection h1 {
        font-size: 40px;
        color: #022859;
        text-align: center;
        font-weight: 900;
    }

    footer {
        background-color: #08162c;
        height: 40vh;
    }

    .footer {
        display: flex;
        flex-direction: column;
    }

    .footer-first {
        position: relative;
        left: 10px;
        top: 25px;
        font-size: 25px;
        color: white;
        font-weight: 400;
    }

    .footer-second {
        position: relative;
        left: 70px;
        top: 120px;
    }

    .footer-third {
        position: relative;
        top: 130px;
        left: 90px;
        color: white;
        font-weight: 400;
    }

    .greyContact {
        color: #ffffffa1;
        font-size: 25px;
    }

    .blob {
        height: 300px;
        width: 300px;
        top: 130px;
        right: 70px;
        border-radius: 63% 37% 48% 52% / 39% 46% 54% 61%;
        background: linear-gradient(60deg, #063f66, #095a91, #0b74bb, #0e6fe6);
        filter: drop-shadow(0, 0, 20px, lightgrey);
        animation: blobAnimation 10s alternate infinite ease-in-out;

    }

    .services-area {
        margin: 0 5%;
        height: 190vh;
    }

    .services-area .section-container h3 {
        font-size: 1.8rem;
        margin-top: 5%;
    }

    .services-area .section-cards-container .cards-container {
        display: flex;
        flex-direction: column;
    }
    .services-area .section-cards-container .cards-container .card {
        margin: 10% -25px;
    }

}


